.footer {
  * {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;

    &:hover,
    &:visited {
      color: rgb(255, 245, 226);
    }
  }
  background-color: #242222;
  background-image: url('./img/background.jpg');
  background-repeat: no-repeat;
  background-size: 30%;
  height: 300px;
  color: #d1481e;
  
}
