@import "@styles/glob.scss";
.panel {
	position: relative;
	padding: 5px 10px 60px 10px;
	display: inline-flex;
	border-radius: 2px;
	height: 290px;
	text-align: left;
	&_vert {
		height: auto;
		display: block;
	}

	@include font-body;
	@include media-breakpoint-down($lg) {
		height: auto;
		display: block;
	}

	&__actions {
		padding: 0;
		margin: 0;
		border: none;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 5px;
		padding: 5px;
		border: 1px solid $colorDarkShade25;
		@include media-breakpoint-down($lg) {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	&__mainSetup {
		padding: 0;
		margin: 0;
		border: none;

		margin: 5px;
		padding: 5px;
		@include media-breakpoint-down($lg) {
		}

		border: 1px solid $colorDarkShade25;
		display: grid;
		grid-template-columns: repeat(4, 110px);
		grid-template-rows: repeat(2, 50px);
		@include media-breakpoint-down($xs) {
			grid-template-columns: repeat(2, 110px);
			grid-template-rows: repeat(4, 50px);
		}
		& > div {
			display: flex;
			align-items: flex-end;
		}
	}
	&__min {
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 1;
		grid-row-end: 1;
	}
	&__max {
		grid-column-start: 2;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: 1;
	}
	&__from {
		grid-column-start: 3;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 1;
		@include media-breakpoint-down($xs) {
			grid-column-start: 1;
			grid-column-end: 1;
			grid-row-start: 2;
			grid-row-end: 2;
		}
	}
	&__to {
		grid-column-start: 4;
		grid-column-end: 4;
		grid-row-start: 1;
		grid-row-end: 1;
		@include media-breakpoint-down($xs) {
			grid-column-start: 2;
			grid-column-end: 2;
			grid-row-start: 2;
			grid-row-end: 2;
		}
	}
	&__vert {
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 2;
		grid-row-end: 2;
		@include media-breakpoint-down($xs) {
			grid-row-start: 3;
			grid-row-end: 3;
		}
	}
	&__range {
		grid-column-start: 2;
		grid-column-end: 2;
		grid-row-start: 2;
		grid-row-end: 2;
		@include media-breakpoint-down($xs) {
			grid-row-start: 3;
			grid-row-end: 3;
		}
	}
	&__bar {
		grid-column-start: 3;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 2;
		@include media-breakpoint-down($xs) {
			grid-column-start: 1;
			grid-column-end: 1;
			grid-row-start: 4;
			grid-row-end: 4;
		}
	}
	&__tip {
		grid-column-start: 4;
		grid-column-end: 4;
		grid-row-start: 2;
		grid-row-end: 2;
		@include media-breakpoint-down($xs) {
			grid-column-start: 2;
			grid-column-end: 2;
			grid-row-start: 4;
			grid-row-end: 4;
		}
	}

	&__scaleSetup {
		padding: 0;
		margin: 0;
		border: none;

		margin: 5px;
		padding: 5px;
		border: 1px solid $colorDarkShade25;
	}
	&__scale {
		margin-bottom: 20px;
	}
	&__radiobuttons {
		margin-top: 5px;
	}
	&__IntervalStep {
		display: flex;
	}
	&__step {
		margin-right: 10px;
	}
	&__moveSetup {
		//	padding: 20px 0;
		//margin: 0;
		border: none;

		margin: 5px;
		padding: 20px;

		border: 1px solid $colorDarkShade25;
		display: flex;
		align-items: center;
		& > div {
			margin-right: 10px;
			display: flex;
			align-items: flex-end;
		}
	}
	&__apply {
		position: absolute;
		bottom: 18px;
		right: 14px;
	}

	&__subscribe,
	&__disable,
	&__destroy {
		margin-top: 10px;
		// @include media-breakpoint-down($lg) {
		// 	margin-top: 10px;
		// }
	}
}
