@import '../../assets/styles/glob';

.radio {
  border: none;

  &__legend {
    margin-bottom: 20px;
    font-size: 20px;
  }

  &__group {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &__item {
    align-items: center;
    display: flex;
    white-space: nowrap;
    font-size: 1rem;
    position: relative;
  }

  &__radiobutton {
    position: absolute;
    left: 7px;
    top: 11px;
    width: 5px;
    height: 1px;
    outline-offset: 12px;
  }

  &__radiobutton:checked + &__radiomark {
    box-shadow: inset 0px 0px 0px 3.5px $colorWhite;
    background: $colorRed;
  }

  &__radiomark {
    cursor: pointer;
    margin-right: 10px;
    display: block;
    position: relative;
    border: 2px solid $colorRed;
    width: 18.5px;
    height: 18px;
    border-radius: 50%;
    content: '';
    background-color: $colorWhite;
  }
}
