@import '../../assets/styles/glob';

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;

  &__input {
    margin-bottom: 20px;
    border: 2px solid $colorRed;
    border-radius: 2px;
    &:focus,
    &:hover {
      outline: 1px solid $colorRed;
    }
  }

  &__button {
    @include button;
    align-self: center;
    background-color: $colorYellow;
  }
}
