@import '../../assets/styles/glob';
@import "../../../node_modules/bootstrap/scss/bootstrap";

.order {
  padding: 20px;

  &__form {
    margin: 20px 0;
    max-width: 400px;
  }

  &__button {
    @include button;
    display: inline-block;
    cursor: pointer;

    &:visited {
      color: $colorWheat;
    }
    &_type {
      &_order,
      &_confirm {
        background-color: $colorBlue;
      }
      &_back,
      &_cancel {
        background-color: $colorYellow;
      }
    }
  }

  &__times-sign{
    padding: 0 10px;
  }
}
