.product-single {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__name {
    margin: 20px;
  }

  &__img {
    width: 50%;
    margin-bottom: 20px;
    object-fit: contain;
  }

  &__price {
    margin-bottom: 20px;
    font-weight: bolder;
  }

  &__ingredients {
    margin-bottom: 20px;
    font-weight: bolder;
  }

  &__back-link {
    text-decoration: underline;

    &:hover,
    &:visited {
      color: rgb(31, 31, 26);
    }
  }
}
