@import '../../assets/styles/glob';

.user-info {
  width: 300px;
  top: 150px;
  right: 20px;
  position: fixed;
  background-color: $colorWhite;
  z-index: 5;
  padding: 20px;
  flex-direction: column;
  box-shadow: $shadow;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
  transform: translateX(200%);

  &_active {
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);
  }

  &__name {
    margin: 40px 0;
    font-size: 2rem;
  }

  &__link-wrapper {
    color: black;
    margin: 20px 0;
    font-size: 1.5rem;
  }

  &__links {
    @include ul-reset-style;
  }

  &__link {
    @include a-reset-style;
    cursor: pointer;
    color: black;

    &:hover,
    &:visited {
      color: black;
      opacity: 0.5;
    }
  }

  &__exit {
    background-color: transparent;
    border: none;
    align-self: flex-start;
  }
}
