@import "@styles/glob.scss";
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  max-width: $xxl;
  background-color: rgb(255, 245, 226);
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
