@import "@styles/glob.scss";
.radiobuttons {
	padding: 0;
	margin: 0;
	border: none;
	* {
		box-sizing: border-box;
	}

	padding-left: 0;
	margin-left: 0;
	user-select: none;
	width: 220px;

	&__label {
		@include font-h3;
		position: relative;
	}

	&__list {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: space-between;
	}

	&__cat {
		display: inline-flex;
		position: relative;
	}
	&__cat-text {
		margin-left: 9px;
	}

	&__cat-checkbox {
		position: absolute;
		left: 7px;
		top: 9px;
		width: 5px;
		height: 1px;
		outline-offset: 12px;

		&:checked + .radiobuttons__cat-radiomark {
			border: 2px solid $colorBlue;
			box-shadow: inset 0px 0px 0px 3.5px $colorWhite;
			background-color: $colorBlue;
		}
	}

	&__cat-radiomark {
		cursor: pointer;
		display: inline-block;
		position: relative;
		border: 2px solid $colorDarkShade25;
		width: 19px;
		height: 18px;
		border-radius: 50%;
		content: "";
		display: inline-block;
		width: 19px;
		height: 18px;
		background-color: $colorWhite;
	}

	&__cat-name {
		margin: 0;
		cursor: pointer;
		@include font-body;
		line-height: 19px;
		padding-left: 10px;
	}
}
