@import "../../assets/styles/glob.scss";

.ingredients-list {
  @include ul-reset-style;
  user-select: none;
  font-size: 1.5rem;

  &__item {
    font-weight: initial;
    list-style: none;

    &-label {
      font-size: 1rem;
      cursor: pointer;
      display: inline-flex;
      font-weight: bolder;
      align-items: center;
    }

    &:first-child {
      margin-top: 20px;
    }

    &-checkbox {
      @include visually-hidden;
    }

    &-checkmark {
      cursor: pointer;
      margin-right: 10px;
      display: block;
      position: relative;
      border: 2px solid $colorRed;
      width: 18px;
      height: 18px;
      border-radius: 5px;
      background-color: $colorWhite;
    }

    &-checkbox:checked + &-checkmark,
    &-checkbox:checked:focus + &-checkmark {
      &::before {
        position: absolute;
        content: "";
        height: 8px;
        width: 4px;
        background-color: $colorRed;
        transform: rotate(45deg);
        top: 3px;
        left: 6px;
      }

      &::after {
        position: absolute;
        content: "";
        height: 8px;
        width: 4px;
        background-color: $colorWhite;
        transform: rotate(45deg) translateX(3px);
        top: -2px;
        left: 4px;
      }
    }
  }
}
