.avatar {
  border: none;
  background-color: transparent;

  &__wrapper {
    background-color: $colorWheat;

    height: 100px;
    width: 100px;
    position: relative;
    border-radius: 50%;
    cursor: pointer;
    &::after {
      content: "";
      width: 25px;
      height: 25px;
      background-color: $colorGreen;
      border-radius: 50%;
      position: absolute;
      right: 8px;
      border: 2px solid $colorRed;
    }
  }
  &__img {
    border: 5px solid $colorWheat;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
