ul {
}
.home {
  padding: 20px;
  display: flex;
  & .items {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    width: 100%;
    gap: 20px;
    justify-content: center;
    list-style: none;

    &__item {
      padding-top: 10px;
      padding-bottom: 10px;
      justify-content: space-between;
      display: flex;
      flex-direction: column;
      border: 2px solid rgb(241, 241, 231);
      height: 100px;
      width: 150px;
    }
    &__link {
      font-family: Verdana, Geneva, Tahoma, sans-serif;

      flex-grow: 2;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      text-align: center;
      color: rgb(65, 65, 65);
      &:hover,
      &:visited {
        color: rgb(65, 65, 65);
      }
    }
  }
}
