@import '../../../assets/styles/glob';

.order-button {
  @include button;

  &:disabled {
    filter: grayscale(100%);
  }

  &_type {
    &_order {
      background-color: $colorGreen;
    }

    &_cancel {
      background-color: $colorRed;
    }
  }
}
