@import '../../../assets/styles/glob';

.order-button {
  @include button;
  cursor: pointer;

  &:disabled {
    filter: grayscale(100%);
    cursor: auto;
  }

  &_type {
    &_order {
      background-color: $colorGreen;
    }

    &_cancel {
      background-color: $colorRed;
    }
  }
}
