@import "../../assets/styles/glob.scss";

$footerHeight: 300px;

.footer {
  background-color: #242222;

  min-height: $footerHeight;
  display: flex;
  color: $colorWheat;

  &__wrapper {
    @include wrapper-size;
    display: flex;
  }

  &__image {
    width: 30%;
    background-image: url("./img/background.jpg");
    background-repeat: no-repeat;
    background-size: auto 100%;

    @include media-breakpoint-down($sm) {
      display: none;
    }
  }

  &__info {
    font-weight: bolder;
    padding: 20px;
    width: 70%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    gap: 15%;
    &-column-header {
      text-transform: uppercase;
    }
    &-column-block {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
    }
  }
}
