@import "@styles/glob.scss";
.toggle {
	* {
		box-sizing: border-box;
	}

	user-select: none;
	@include font-h3;

	&__wrapper {
		display: flex;
		position: relative;
	}

	&__checkbox {
		position: absolute;
		left: 7px;
		top: 9px;
		width: 25px;
		height: 1px;
		outline-offset: 12px;

		& + .toggle__checkmark {
			border: 2px solid $colorDarkShade25;
			& > .toggle__ball {
				width: 10px;
				height: 10px;
				border-radius: 50%;
				top: 3px;
				left: 3px;
				position: absolute;
				background-color: $colorDarkShade25;
			}
		}

		&:checked + .toggle__checkmark {
			border: 2px solid $colorBlue;
			& > .toggle__ball {
				background-color: $colorBlue;
				right: 3px;
				left: auto;
			}
		}
	}

	&__checkmark {
		cursor: pointer;
		display: inline-block;
		position: relative;
		border: 1px solid $colorDarkShade25;
		width: 38px;
		height: 20px;
		border-radius: 22px;
		background-color: $colorWhite;
	}

	&__name {
		margin: 0;
		cursor: pointer;
		@include font-body;
		line-height: 19px;
		padding-left: 10px;
		text-transform: none;
	}
}
