$font-adres: "../fonts/";

$font-bold: "Montserrat-Bold";
$font-regul: "Montserrat-Regular";

@font-face {
	font-family: "Montserrat";
	src: url("#{$font-adres}#{$font-regul}.woff2") format("woff2"),
		url("#{$font-adres}#{$font-regul}.woff") format("woff"),
		url("#{$font-adres}#{$font-regul}.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: url("#{$font-adres}#{$font-bold}.woff2") format("woff2"), url("#{$font-adres}#{$font-bold}.woff") format("woff"),
		url("#{$font-adres}#{$font-bold}.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

//"Montserrat", Helvetica, Arial, sans-serif;
