/***** Variables *****/
$xxs: 320px;
$xs: 575px;
$sm: 767px;
$md: 991px;
$lg: 1199px;
$xl: 1440px;
$xxl: 1920px;
$xxxl: 2400px;

$colorWheat: rgb(255, 245, 226);
$colorWhite: rgb(255, 255, 255);
$colorRed: #d1481e;
$colorGreen: rgb(113, 255, 161);

/***** Mixins *****/

@mixin visually-hidden() {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

@mixin wrapper-size() {
  max-width: $xxxl;
  width: 100%;
  margin: auto;
}

@mixin button-reset-style() {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

@mixin fieldset-reset-style() {
  padding: 0;
  margin: 0;
  border: none;
}

@mixin ul-reset-style() {
  list-style: none;
  padding: 0;
  padding-inline: 0;
  margin: 0;
  margin-block: 0;
}

@mixin a-reset-style() {
  text-decoration: none;
  &:hover,
  &:visited {
    color: $colorWheat;
  }
}

@mixin font-h1() {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: $colorDarkShade100;
}

@mixin font-h2() {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
  color: $colorDarkShade100;
}

@mixin font-h3() {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: $colorDarkShade100;
  text-transform: uppercase;
}

@mixin font-body() {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgb(41, 39, 39);
}

@mixin media-breakpoint-up($width) {
  @media (min-width: ($width + 1)) {
    @content;
  }
}

@mixin media-breakpoint-down($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin media-breakpoint-between($min-width, $max-width) {
  @media (min-width: ($min-width + 1)) and (max-width: $max-width) {
    @content;
  }
}
